<% layout("layouts/boilerplate.ejs") %>

<script>
  console.log(`from ejs <%=categoryname%>`);
</script>
<br>

  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
    <% for(Listing of alllistings){%>
      <% if(Listing.category===categoryname){ %>
        <a href="/listings/<%=Listing._id %>" class="listing-link">
      <div class="listing-card card col" >
        <img src="<%= Listing.image.url %>" class="card-img-top" alt="Place Img" style="height: 20rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b>
              <%=Listing.title%>
            </b><br>
            &#8377;<%=Listing.price.toLocaleString("en-IN") %>/night
          </p>
        </div>
      </div>
      </a>
        <% } %>
      <% } %>

  </div>














